<header id="head-wrapper" class="content-frame">
    <div id="header" class="content-frame-inner">
        <div id="site-title-block">
            <h1>Kalle Pihlainen</h1>
            <h2 class="tagline">Academic info</h2>
        </div>
        <div id="portrait">
            <img src="/images/photos/portrait.jpg" alt="Portrait of Kalle Pihlainen"/>
        </div>
    </div>
</header>